@font-face {
    font-family: "zabras";
    src: url("./fonts/zabras.ttf") format("truetype");
}

* {
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-image: url("./img/9_intro_outro_screens/start_bg/background.png");
    background-size: cover;
    background-position: top;
}

h1 {
    font-size: 85px;
}

.divInstructions {
    font-size: 50px;
    display: flex;
}

h1, 
.divInstructions {
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.95);
    color: #D9F2F1;
}

.divInstructions .container {
    text-align: center;
}

.game-container {
    position: relative;
    height: 480px;
    width: 720px;
}

canvas,
.start-screen,
.game-over-screen {
    position: absolute;
}

.content {
    display: contents;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 720px;
    height: 480px;
}

canvas {
    background-color: black;
    width: 720px;
    height: 480px;
}

.start-screen {
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    z-index: 1;
}

.game-over-screen {
    display: none;
    background-image: url("img/9_intro_outro_screens/game_over/game over!.png");
    z-index: 2;
}

.start-screen,
.game-over-screen {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 720px;
    height: 480px;
}

.div-btn-start,
.div-btn-g-over {
    display: flex;
    justify-content: center;
    width: 100%;
}

.div-btn-start {
    margin-top: 65px;
    gap: 50px;
}

.div-btn-g-over {
    flex-wrap: wrap;
    align-content: flex-end;
    height: 100%;
    gap: 75px;
}

.div-btn-g-over button {
    margin-bottom: 40px;
}

.btn-screen {
    cursor: pointer;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.btn-start-screen:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
}

.btn-start-screen:active {
    position: relative;
    top: 1px;
}

.div-btn-control {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 720px;
    height: fit-content;
    margin-top: 25px;
    z-index: 2;
}

.btn-control {
    cursor: pointer;
    width: 30px;
    user-select: none;
    -webkit-user-select: none;
}

.instruction-screen {
    position: absolute;
    display: none;
    width: 720px;
    height: 480px;
    z-index: 3;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.btn-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 20px;
    top: 20px;
}

.instruction-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.instruction-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    letter-spacing: 2px;
    gap: 10px;
}

.instruction-title img {
    width: 55px;
}

.instructions {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
}

.container {
    display: flex;
    align-items: center;
    height: max-content;
    padding: 20px;
}

.container img {
    width: 40px;
}

.bottom-controls {
    bottom: 10px;
    width: 100vw;
}

.mob-btn-container {
    display: none;
    margin: 0 25px;
    gap: 30px;
    user-select: none;
    -webkit-user-select: none;
}

.mob-btn-img {
    width: 45px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.rotation-container {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #30363c;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 4;
}

.rotation {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 50px;
}

.rotation img {
    width: 100px;
}

.out-of-game {
    display: none;
}

.jc-center {
    justify-content: center;
}

.mt {
    margin-top: 12px;
}

:fullscreen canvas,
:fullscreen .game-container,
:fullscreen .start-screen,
:fullscreen .game-over-screen,
:fullscreen .instruction-screen {
    width: 100vw;
    height: 100vh;
}

:fullscreen .div-btn-start {
    margin-top: 130px;
}

:fullscreen .btn-screen {
    font-size: 40px;
    padding: 18px 36px;
}

:fullscreen .div-btn-control {
    width: 100vw;
    margin-top: 50px;
}

:fullscreen .btn-control {
    width: 80px;
}

:fullscreen .div-btn-g-over button {
    margin-bottom: 80px;
}

:fullscreen .instruction-title {
    font-size: 50px;
}

:fullscreen .instruction-title img {
    width: 95px;
}

:fullscreen .btn-container {
    left: 60px;
    top: 50px;
}

:fullscreen .container img {
    width: 120px;
}

:fullscreen .instructions-container {
    font-size: 40px;
}

:fullscreen .mt {
    margin-top: 48px;
}

@media (max-width:1368px) {
    .game-container {
        display: flex;
        justify-content: center;
    }

    .game-container,
    .start-screen,
    .game-over-screen,
    .instruction-screen,
    .content,
    canvas{
        height: 100vh;
        width: 100vw;
    }

    .mob-btn-container {
        display: flex;
    }

    .bottom-controls {
        justify-content: space-between;
    }

    h1, 
    .divInstructions,
    .fullscreen-btn {
        display: none;
    }
}
